/*
	CSS Document for XXXXXXX
	Build: XXXX XXXXXXX on behalf of SAS
	Date: March 2014
	Version: 3.1.0
*/

/* bulletproof font-face syntax */

@font-face {
  font-family: 'Bebas Neue';
  src: url("/css/bebasneue-webfont.eot");
  src: url("/css/bebasneue-webfont.eot?#iefix") format("embedded-opentype"), url("/css/bebasneue-webfont.woff") format("woff"), url("/css/bebasneue-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* vars/mixins for sass and css reset */

/* ---------------------------------------- Variables ---------------------------------------- */

/* Typography baseline (in px/ratio) */

/* 20px */

/* Font stacks */

/* Breakpoints (in px) */

/* ---------------------------------------- Mixins ---------------------------------------- */

/*
	MEDIA QUERY
	$point: breakpoint integer in px
	$constraint: Constraint for media query (min/max)
	$feature: Media feature of query (width/height)
*/

/* ---------------------------------------- Reset ---------------------------------------- */

body,
h2,
li,
ul {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h2 {
  font-weight: normal;
}

/* base styles */

/* ---------------------------------------- Grid ---------------------------------------- */

/* --------------------------- Wrapper */

.wrapper {
  margin: 0 auto;
  padding: 0 1.25em;
  /* 0 20px */
  position: relative;
  width: 100%;
}

/* ---------------------------------------- Site ---------------------------------------- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 320px;
  overflow-y: scroll;
}

body {
  color: #000;
  font-family: "Rosario", Arial, Helvetica, sans-serif, Helvetica, Arial, sans-serif;
  font-size: 100%;
  /* 16px */
  line-height: 1.250;
  /* 20px */
  height: 100%;
}

/* ---------------------------------------- Base ---------------------------------------- */

/*  This section generally sets out the basic styles for the page.
	Headings, lists, anchors etc are specificed here */

/* --------------------------- Headings */

h2 {
  display: block;
  text-rendering: optimizeLegibility;
}

h2 {
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 5em;
  /* 80px */
  letter-spacing: 0.075em;
  /* 6px */
  line-height: 1;
  /* 80px */
  text-align: center;
  text-transform: uppercase;
}

/* --------------------------- Paragraph */

/* --------------------------- Links */

a {
  color: #0082c8;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: color 150ms ease-out 0s;
  -moz-transition: color 150ms ease-out 0s;
  -o-transition: color 150ms ease-out 0s;
  transition: color 150ms ease-out 0s;
}

/* --------------------------- List */

ul {
  font-size: 0.875em;
  /* 14px */
  line-height: 1.429;
  /* 20px */
  margin: 0 0 1.25em;
  /* 0 0 20px */
  zoom: 1;
}

ul {
  list-style: none;
}

ul li {
  margin: 0 0 10px;
  padding: 0 0 0 12px;
  zoom: 1;
}

/* ---------- List reset */

/* ---------- List inline */

/* --------------------------- Blockquote */

/* --------------------------- Horizontal rule */

/* --------------------------- Highlight state */

::-moz-selection {
  background: #0082c8;
  /* #0082c8 */
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #0082c8;
  /* #0082c8 */
  color: #fff;
  text-shadow: none;
}

/* ---------------------------------------- Site layout ---------------------------------------- */

/*  Main parent wrappers to contain all site elements,
	and define sticky footer styles if required */

.section {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3.75em;
  /* 60px */
  width: 100%;
}

.section .wrapper {
  position: relative;
  top: 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* ---------------------------------------- Navigation ---------------------------------------- */

/*  All navigation elemets are listed here. This includes
	header, left, right and footer navigation as well as
	any other basic navigation blocks that might appear. */

/* ---------------------------- Primary nav */

.nav_primary {
  font-size: 1.125em;
  /* 18px */
  font-style: italic;
  line-height: 1.333em;
  /* 24px */
  margin-top: 0.778em;
  /* 14px */
}

.nav_primary > li {
  float: left;
  padding: 0 1.333em;
  /* 0 24px */
  position: relative;
  text-align: center;
  width: 50%;
}

.nav_primary > li:last-child {
  margin: 0;
}

.nav_primary > li a {
  color: #000;
  display: block;
}

.nav_primary a:hover,
.nav_primary a:focus {
  color: #3565ad;
}

/* ---------------------------------------- Header ---------------------------------------- */

.header {
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 0.75em 0;
  /* 12px 0 */
  text-align: center;
  width: 100%;
}

/* --------------------------- Logo */

.logo {
  display: block;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 2.375em;
  /* 38px */
  letter-spacing: 0.105em;
  /* 4px */
  line-height: 1;
  margin: 0 auto;
  padding-left: 2em;
  /* 76px */
  text-transform: uppercase;
}

/* ---------------------------------------- Footer ---------------------------------------- */

/* ---------------------------------------- Heroes ---------------------------------------- */

/* ---------------------------------------- Lists ---------------------------------------- */

/* ---------------------------------------- Links/Buttons ---------------------------------------- */

/* standard button */

/* ---------------------------------------- Modules ---------------------------------------- */

/* ---------------------------------------- Videos ---------------------------------------- */

/*  Include if Brightcove or JS based video players are used */

/* OOCSS and utilities */

/* ---------------------------------------- OOCSS ---------------------------------------- */

/*  Reusable classes to be applied as modifiers to existing DOM elements
	to reduce the amount of repetition in style declarations */

/* --------------------------- Text size */

/* --------------------------- Color */

.reverse {
  color: #fff;
}

/* --------------------------- Background */

/* --------------------------- Borders */

/* --------------------------- Transitions */

/*  Use as OOCSS class or add any additional selectors to each declaration */

/* ---------------------------------------- Utility ---------------------------------------- */

/*  Used similary to OOCSS the utility classes allow common code
	to the utilised throughout the site without duplicating CSS. */

/* --------------------------- Margin */

/* --------------------------- Padding */

/* --------------------------- Border */

/* --------------------------- Floats */

/* --------------------------- Text alignment */

/* --------------------------- Text case */

/* --------------------------- Typography */

/* --------------------------- Display properties */

/* --------------------------- Clear */

/* --------------------------- Misc */

/* Hide only visually, but have it available for screenreaders */

/* Hide from both screenreaders and browsers */

/* print stylesheet */

/* ---------------------------------------- Print ---------------------------------------- */

@media screen and (min-width: 58.875em) {
  .wrapper {
    /*  .wrapper max-width is 40px more than site width to account for left/right gutters */
    max-width: 68.75em;
    /* 1100px */
  }

  /* --------------------------- Rows */

  /* ie */

  /* --------------------------- Columns */

  /* --------------------------- Offsets */

  .nav_primary {
    float: right;
  }

  .nav_primary > li {
    width: auto;
  }

  .nav_primary > li:after {
    content: '/';
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav_primary > li:last-child:after {
    content: '';
  }

  .header {
    height: 3.75em;
    /* 60px */
    position: fixed;
    text-align: left;
    z-index: 1;
  }

  .logo {
    float: left;
  }
}

@media screen and (min-width: 63.75em) {
  /* --------------------------- Columns */

  /* --------------------------- Offsets */
}

@media print {
  * {
    border: 0 !important;
    color: #000 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  html,
  body {
    background: #fff !important;
  }

  li {
    page-break-inside: avoid;
  }

  .wrapper {
    max-width: 100%;
    min-width: 100%;
  }
}
