
/* ---------------------------------------- OOCSS ---------------------------------------- */

/*  Reusable classes to be applied as modifiers to existing DOM elements
	to reduce the amount of repetition in style declarations */


/* --------------------------- Text size */
.primary {
	font-size: 1.313em; /* 21px */
	line-height: 1.238; /* 26px */
}
.secondary {
}
.tertiary {
}

/* --------------------------- Color */
.highlight {
	color: $highlight;
}
.light {
	color: #eeeae1;
}
.reverse {
	color: #fff;
}

/* --------------------------- Background */
.bg_light {
	background-color: #eeeae1;
}
.bg_reverse {
	background-color: #fff;
}

/* --------------------------- Borders */
.shadow {
	@include box-shadow(0, 0, 5px, 3px, rgba(0,0,0,0.1));
}

/* --------------------------- Transitions */

/*  Use as OOCSS class or add any additional selectors to each declaration */

.trans_all {
	@include transition(all, 150ms, ease-out, 0s);
}
.trans_bg {
	@include transition(background-color, 150ms, ease-out, 0s);
}
.trans_color {
	@include transition(color, 150ms, ease-out, 0s);
}
.trans_opacity {
	@include transition(opacity, 150ms, ease-out, 0s); 
}