
/* ---------------------------------------- Variables ---------------------------------------- */
/* Typography baseline (in px/ratio) */
$docFontSize: 16;
$docLineHeight: 1.25; /* 20px */

/* Font stacks */
$baseFont: 'Rosario', Arial, Helvetica, sans-serif;
$sansFont: 'Bebas Neue', Arial, Helvetica, sans-serif;

/* Breakpoints (in px) */
$lap: 942;
$desk: 1020;

$highlight: #3565ad;

/* ---------------------------------------- Mixins ---------------------------------------- */
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
			border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $spread $color;
		-moz-box-shadow:inset $top $left $blur $spread $color;
		box-shadow:inset $top $left $blur $spread $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $spread $color;
		-moz-box-shadow: $top $left $blur $spread $color;
		box-shadow: $top $left $blur $spread $color;
	}
}

@mixin transition($property, $duration, $easing, $delay) {
	-webkit-transition: $property $duration $easing $delay;
	   -moz-transition: $property $duration $easing $delay;
	     -o-transition: $property $duration $easing $delay;
			transition: $property $duration $easing $delay;
}


@mixin translate($x, $y) {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}

/*
	MEDIA QUERY
	$point: breakpoint integer in px
	$constraint: Constraint for media query (min/max)
	$feature: Media feature of query (width/height)
*/
@mixin mq($point, $constraint: min, $feature: width) {
	@media screen and (#{$constraint}-#{$feature}: $point / $docFontSize + em) {
		@content;
	}
}