/*
	CSS Document for XXXXXXX
	Build: XXXX XXXXXXX on behalf of SAS
	Date: March 2014
	Version: 3.1.0
*/

/* bulletproof font-face syntax */
@font-face {
    font-family: 'Bebas Neue';
    src: url('/css/bebasneue-webfont.eot');
    src: url('/css/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/bebasneue-webfont.woff') format('woff'),
         url('/css/bebasneue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* vars/mixins for sass and css reset */
@import "sass";
@import "reset";

/* base styles */
@import "grid";
@import "base";

/* OOCSS and utilities */
@import "oocss";
@import "utility";

/* print stylesheet */
@import "print";